.next-particle {
	/* position: relative; */
	display: flex;
	align-content: center;
	justify-content: center;
	/* background-color: #fff; */
	margin-top: -150px;
	max-width: 500px;
	max-height: 800px;
	/* border: solid 1px red; */
}
